/* -------------------- RESET STYLING -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* *****************  GLOBAL PAGE LAYOUT *****************  */
body {
    display: flex;
    width: 100vw;
}


/* -------------------- FONTS -------------------- */
/* TITLE */
@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}
/* REGULAR */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* -------------------- GLOBAL VARIABLES -------------------- */
:root {
    --font-family-title: 'Norse-Bold';
    --font-family-reg: 'Open Sans', sans-serif;
}

/* *****************  SIDEBAR STYLING *****************  */
#sidebar {
    background-image: url(./images/background-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    background-color: #0c0e0c99;
}
.title img {
    width: 6rem;
    height: auto;
}
h1 {
    color: white;
    font-family: var(--font-family-title);
    font-size: 6rem;
}
#sidebar p {
    color: white;
    font-family: var(--font-family-reg);
    font-weight: 100;  
    font-size: .8rem;
    letter-spacing: .13rem;
    position: absolute;
    bottom: .8rem;
    left: 0;
    right: 0;
    text-align: center;
}
a.adobelink {
    text-decoration: none;
    color: white;
}
a.adobelink:hover {
    text-decoration: underline;
}
a.adobelink:active {
    color: aquamarine;
}


/* ***************** MAIN STYLING *****************  */
main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
}

/* -------------------- FIRST PARAGRAPH SECTION STYLING -------------------- */
#info-para {
    /* border: 1px solid red; */
    font-family: var(--font-family-reg);
    color: #0c0e0c;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 2rem 2.5rem;
}
#info-para p:last-child {
    padding-top: 1rem;
}
#info-para p span {
    font-style: italic;
}

/* -------------------- FORM INPUT STYLING -------------------- */
#form-input-area {
    /* border: 1px solid green; */
    background-color: white;
    color: #0c0e0c;
    box-shadow: 0px 2px 4px 4px #dfdfdf;
    padding: 1.5rem 2.5rem;
}
#form-input-area legend {
    font-family: var(--font-family-reg);
    font-size: 1.2rem;
    font-weight: bold;
    color: #0c0e0c; 
    padding-bottom: 1.3rem;  
}
.grid-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.3rem;
    column-gap: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
}
.grid-item {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}
.grid-item label {
    font-family: var(--font-family-reg);
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: .13rem;
    padding-bottom: .2rem;
}
.grid-item 
input[type='text'], 
input[type='email'],
input[type='password'] {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: .3rem;
}

/* -------------------- CREATE ACCOUNT SECTION STYLING -------------------- */
#create-account {
    /* border: 1px solid purple; */
    font-family: var(--font-family-reg);
    font-size: .8rem;
    font-weight: bold;
    color: #0c0e0c;
    padding: 2rem 2.5rem;
}
#create-account button {
    width: 12rem;
    height: 2.8rem;
    font-family: var(--font-family-reg);
    font-size: .9rem;
    font-weight: bold;
    color: #f5f5f5;
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 4px 4px #dfdfdf;
}
#create-account p {
    padding-top: 2rem;
}
#create-account p a {
    color: #596D48;
    text-decoration: none;
}
#create-account p a:hover {
    text-decoration: underline;
} 
#create-account p a:active {
    color: #0c0e0c;
}